
.container {
    height: 100vh;
    width: 100%;
    background-image: url(images/Website-Design-Background.webp);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
}
.navbar {
    height: 15vh;
    width: 100%;
    margin: auto;
    display: flex;
}
.form {
    height: 50px;
    width: 100%;
    position: relative;
    text-align: center;
    color: lime;
}

